.form-container {
  /* width: fit-content; */
  width: calc(100vh - 200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.btn-group {
  align-self: flex-end;
}

.card-body {
  background-color: #ffffff !important;
  min-width: 400px;
  border-radius: 10px;
};
